<p-toast />
<menu class="menu">
  @if (!account){
  <section>
    <img (click)="connect()" src="../../../../assets/connection-button.jpg" alt="imagem de uma raposa- metamask" />

  </section>

  }@else{

  <section>

    <img (click)="disconnect()" src="../../../../assets/connection-button.jpg" alt="imagem de uma raposa- metamask" />



    <figure class="avatar">
      <p-button (onClick)="op.toggle($event)" class="transparent-button">
        <img [src]="account | avatarUrl" alt="Avatar" />

      </p-button>

    </figure>
    <p-overlayPanel #op class="panel">
      <span>{{shortAccount }}...</span>

      <i (click)="clipping(account)" [class]="iconCopy" style="font-size: 1rem;cursor:pointer"></i>

    </p-overlayPanel>


  </section>
  }
</menu>

<header class="header">
  <section class="header__logo" routerLink="/">
    <img src="../../../../assets/logo.png" alt="logo: crypto Angular" />
    <h1 class="header__logo__title">Cripto Angular</h1>
  </section>

  <section class="header__actions">
    <div class="inputs">
      <form class="search" (ngSubmit)="search($event)">
        <input pInputText type="text" placeholder="Pesquisar" name="find" [(ngModel)]="find"
          (ngModelChange)="onInputChange()" class="search__input" />
        <span class="search__icon pi pi-search" (click)="search()"></span>
      </form>

      <p-dropdown (ngModelChange)="getFiat($event)" [options]="currency" [(ngModel)]="fiat" optionLabel="name"
        pTooltip="Selecione sua fiat" tooltipPosition="bottom"></p-dropdown>
    </div>

    <div class="connection">
      @if (!account || router.url.includes('charts') ){
      <p-button class="hidden" (click)="connect()" label="Conecte-se" />
      }@else{


      <section>

        <p-button class="hidden" (click)="disconnect()" label="Desconectar" />

        <p-button class="favorite-list" (click)="favorites()" [icon]="iconHeart" [rounded]="true" [text]="true" />



        <figure class="hidden">
          <p-button (onClick)="op.toggle($event)" class="transparent-button">
            <img [src]="account | avatarUrl" alt="Avatar" />

          </p-button>

        </figure>
        <p-overlayPanel #op class="panel">
          <span>{{shortAccount }}...</span>

          <i (click)="clipping(account)" [class]="iconCopy" style="font-size: 1rem;cursor:pointer"></i>

        </p-overlayPanel>


      </section>
      }


    </div>


  </section>
</header>
