@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";

.header {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;

  height: 8rem;
  padding: 2rem;
  @include centralizeV;
  justify-content: space-between;

  @media (max-width: 1000px) {
    flex-direction: column;
    height: 16rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__title {
      font-size: 32px;
      background: linear-gradient(
        to right,
        #456e55 0%,
        #5fa379 38%,
        #56a375 32%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 80px;
    }
  }

  &__actions {
    width: 40rem;
    @include centralizeV;
    justify-content: end;

    @media (max-width: 600px) {
      width: 100vw;
      justify-content: center;
    }
    @media (max-width: 375px) {
      justify-content: center;
    }
  }

  .search {
    position: relative;
    display: inline-block;
    &__input {
      padding: 14px 30px 14px 10px;
      border: 1px solid $gray-200;
      border-radius: 4px;
      outline: none;
      font-size: 14px;
      width: 200px;
      box-sizing: border-box;
      margin-right: 1rem;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $gray-400;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
