<p-toast />
<header class="header">
  <section class="header__logo" routerLink="/">
    <img src="../../../../assets/logo.png" alt="logo: crypto Angular" />
    <h1 class="header__logo__title">Cripto Angular</h1>
  </section>

  <section class="header__actions">
    <form class="search">
      <input pInputText type="text" (keyup)="clear()" (keyup.enter)="search()" placeholder="Pesquisar" name="find"
        [(ngModel)]="find" class="search__input" />
      <span class="search__icon pi pi-search" type="submit" (click)="search()"></span>
    </form>

    <p-dropdown (ngModelChange)="getFiat($event)" [options]="currency" [(ngModel)]="fiat" optionLabel="name"
      pTooltip="Selecione sua fiat" tooltipPosition="bottom"></p-dropdown>

    <div class="connection">
      @if (!account){
      <p *ngIf="">Você não está conectado</p>
      <p-button (click)="connect()">Conecte-se</p-button>
      }@else{

      <section>
        <p-button (click)="disconnect()" *ngIf="account">Desconectar</p-button>
        <figure>
          <p-button (onClick)="op.toggle($event)" class="transparent-button">
            <img src="https://api.dicebear.com/9.x/identicon/svg?seed={{account}}" />
          </p-button>

        </figure>
        <p-overlayPanel #op class="panel">
          <span>{{account.substring(0,12) }}...</span>

          <i (click)="clipping(account)" [class]="iconCopy" style="font-size: 1rem;cursor:pointer"></i>

        </p-overlayPanel>
      </section>
      }


    </div>


  </section>
</header>
