@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";

.header {
  height: 8rem;
  padding: 2rem;
  @include centralizeV;
  justify-content: space-between;

  @media (max-width: 1000px) {
    flex-direction: column;
    height: 16rem;
  }

  &__logo {
    display: flex;
    align-items: center;

    &__title {
      font-size: 32px;
      background: linear-gradient(
        to right,
        $pink-400 0%,
        $pink-200 37%,
        $pink-300 32%,
        $pink-100 93%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 80px;
    }
  }

  &__actions {
    width: 40rem;
    @include centralizeV;
    justify-content: space-around;

    @media (max-width: 600px) {
      width: 100vw;
    }
  }

  .search {
    position: relative;
    display: inline-block;
    &__input {
      padding: 14px 30px 14px 10px;
      border: 1px solid $gray-200;
      border-radius: 4px;
      outline: none;
      font-size: 14px;
      width: 200px;
      box-sizing: border-box;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $gray-400;
      cursor: pointer;
    }
  }

  &__favorites {
    font-size: 18px;
    @media (max-width: 420px) {
      display: none;
    }
  }
  &__favorites--less420 {
    @media (min-width: 420px) {
      display: none;
    }
    cursor: pointer;
  }
}
