@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";

$pivot-size: 820px;

:host ::ng-deep {
  .transparent-button .p-button {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  .favorite-list .p-button:focus {
    box-shadow: none !important;
  }
  .favorite-list .pi {
    font-size: 24px !important;
  }
}
.menu {
  @media (min-width: $pivot-size) {
    display: none;
  }
  section {
    img {
      width: 4rem;
      cursor: pointer;
    }
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .avatar {
    border-radius: 100%;
    border: solid 4px #5fa379;

    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -65px;
    right: -33px;

    img {
      width: 2rem;
    }
  }

  .favorite-list {
    position: absolute;
    top: 186px;
    right: -10px;
  }
}

.header {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;

  height: 8rem;
  padding: 2rem;
  @include centralizeV;
  justify-content: space-between;

  @media (max-width: $pivot-size) {
    flex-direction: column;
    height: 16rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__title {
      white-space: nowrap;
      font-size: 32px;
      background: linear-gradient(
        to right,
        #456e55 0%,
        #5fa379 38%,
        #56a375 32%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    img {
      width: 80px;
    }
  }

  &__actions {
    width: 40rem;
    @include centralizeV;
    justify-content: end;

    .inputs {
      display: flex;
    }

    .connection {
      margin-left: 1rem;

      .favorite-list {
        margin-left: 1rem;
      }

      .avatar {
        border-radius: 100%;
        border: solid 4px #5fa379;

        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 2rem;
        }
      }
      section {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .hidden {
      @media (max-width: $pivot-size) {
        display: none;
      }
    }

    @media (max-width: $pivot-size) {
      width: 100vw;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .search {
    position: relative;
    display: inline-block;
    &__input {
      padding: 14px 30px 14px 10px;
      border: 1px solid $gray-200;
      border-radius: 4px;
      outline: none;
      font-size: 14px;
      width: 200px;
      box-sizing: border-box;
      margin-right: 1rem;

      @media (max-width: 400px) {
        width: 141px;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $gray-400;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
