<section class="coin-detail">
  @if (loadingDetails$ | async) {
  <div class="card p-4">
    <div class="flex align-items-center gap-3 mb-4">
      <p-skeleton shape="circle" size="60px"></p-skeleton>
      <div class="flex-1">
        <p-skeleton width="40%" height="2.5rem" class="mb-2"></p-skeleton>
        <p-skeleton width="20%" height="1.2rem"></p-skeleton>
      </div>
    </div>
    <p-skeleton width="60%" height="3.5rem" class="mb-3"></p-skeleton>
    <p-skeleton width="30%" height="1.8rem" class="mb-4"></p-skeleton>
    <p-skeleton width="100%" height="35rem" class="mb-5"></p-skeleton>
    <h2 class="section-title"><p-skeleton width="12rem" height="1.8rem"></p-skeleton></h2>
  </div>
  } 
  @else if (detailsError$ | async; as error) {
  <div class="card p-4 text-center text-red-500">{{ error }}</div>
  } 
  @else if (coinDetails; as coin) {
  @if (currencyCode$ | async; as currencyCode) {
  <div class="card p-4">

    <app-coin-header [coin]="coin" [currencyCode]="currencyCode"></app-coin-header>

    <div class="coin-detail__period-selector">
      <p-selectButton [options]="timePeriods" [(ngModel)]="selectedPeriod" optionLabel="name"
        (ngModelChange)="onTimePeriodChange($event)"></p-selectButton>
    </div>

    <div class="coin-detail__chart-section">
      @if (loadingHistory$ | async) {
      <p-skeleton width="100%" height="35rem"></p-skeleton>
      } @else if (historyError$ | async; as error) {
      <div class="text-center text-red-500 pt-4">{{ error }}</div>
      } @else if (chartData) {
      <div class="chart-container">
        <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
      </div>
      } @else {
      <div class="text-center text-500 pt-4">Nenhum dado de histórico disponível para este período.</div>
      }
    </div>

    <app-metric-grid [coin]="coin" [currencyCode]="currencyCode"></app-metric-grid>
    <app-links-grid [links]="coin.links" [websiteUrl]="coin.websiteUrl"></app-links-grid>

  </div>
  }
  }
</section>