// -----------------------------------------------------------------------------------------------------
// @ Colors
// -----------------------------------------------------------------------------------------------------

// default colors
$white: #ffffff !default;
$black: #020814d7 !default;
//
// gray
$gray-600: #5c5b5b !default;
$gray-500: #333333 !default;
$gray-400: #666666 !default;
$gray-300: #949494 !default;
$gray-200: #cccccc !default;
$gray-150: #cccccc81 !default;
$gray-100: #f5f5f5 !default;

// green
$green-500: #0c5a2f !default;
$green-400: #17b55f !default;
$green-350: #00f56f !default;
$green-300: #4ae892 !default;
$green-200: #a5f3c8 !default;
$green-100: #edfdf4 !default;
$green-50: rgba(34, 174, 192, 0.082) !default;

// blue
$blue-600: #102956 !default;
$blue-500: #004a8f !default;
$blue-400: #006acc !default;
$blue-300: #339dff !default;
$blue-350: #0074c0 !default;
$blue-200: #99ceff !default;
$blue-100: #ebf5ff !default;

// red
$red-500: #660700 !default;
$red-400: #cc0e00 !default;
$red-300: #ff2e1f !default;
$red-200: #ffa099 !default;
$red-100: #ffeceb !default;

// yellow
$yellow-500: #664a00 !default;
$yellow-400: #cc9400 !default;
$yellow-300: #ffd700 !default;
$yellow-200: #ffe399 !default;
$yellow-100: #fff9eb !default;

// purple
$purple-500: #250a5c !default;
$purple-400: #4a13b9 !default;
$purple-300: #7d46ec !default;
$purple-200: #bea3f6 !default;
$purple-100: #f2edfd !default;

// blue2
$blue2-500: #0a535c !default;
$blue2-400: #13a5b9 !default;
$blue2-300: #46d8ec !default;
$blue2-200: #a3ecf6 !default;
$blue2-100: #edfbfd !default;

// orange
$orange-500: #5c220a !default;
$orange-400: #b94513 !default;
$orange-300: #ec7846 !default;
$orange-200: #f6bba3 !default;
$orange-100: #fdf1ed !default;

// pink
$pink-500: #5c0a31 !default;
$pink-400: #cb60b3 !default;
$pink-300: #d754ff !default;
$pink-200: #c146a1 !default;
$pink-100: #db36a4 !default;

// brown
$brown: #946300 !default;

// selection
$selection-100: #d754ff1e !default;
