@import "./colors.scss";
@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}

*::selection {
  background: $selection-100;
  color: $pink-100;
}

body {
  margin: 0;
  padding: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: $yellow-300;
}
