<div class="table">
    <p-table [value]="coinList" [paginator]="false" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Cripto</th>
                <th style="width:25%">Preço</th>
                <th style="width:25%">24h</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-coin>
            <tr class="table__rows">
                <td>
                    <section class="table__rows__coin">
                        <span (click)="toggleFavorite(coin)"
                            [ngClass]="coin.isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'" class="pi pi-heart"></span>
                        <img [src]="coin?.iconUrl+'?size=30x30'" [srcset]="coin?.iconUrl+'?size=30x30 1x,'"
                            [routerLink]="['charts',coin.uuid]" />
                        <div class="table__rows__coin__text" [routerLink]="['charts',coin.symbol, coin.name]">
                            <h4>{{ coin.name }}</h4>
                            <p>{{ coin.symbol }}</p>
                        </div>
                    </section>
                </td>
                <td>{{ coin.price | currency : currencySymbol }}</td>
                <td [ngStyle]="percentageStyle.getChangeCellStyle(coin.change)">{{coin.change| percent}}</td>
            </tr>
        </ng-template>

    </p-table>
    <div *ngIf="searching === ''">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="start" [rows]="rows" [totalRecords]="5000"
            [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
</div>