<div class="table">
  <p-table
    [value]="coinList"
    [paginator]="false"
    [showCurrentPageReport]="true"
    responsiveLayout="stack"
    [breakpoint]="'820px'"
    [tableStyle]="{ 'min-width': '40rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 20%">Cripto</th>
        <th style="width: 20%">Preço</th>
        <th style="width: 20%">24h</th>
        <th style="width: 20%">Ação</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-coin>
      <tr class="table__rows">
        <td>
          <section class="table__rows__coin">
            @if (isConnected) {
            <i
              [ngClass]="styleHelper.iconFavorite(coin?.favorite)"
              (click)="handleFavorites(coin)"
            ></i>
            }

            <span [routerLink]="['charts', coin.symbol, coin.name]" pTooltip="clique para ver o gráfico" tooltipPosition="left">
              <img [src]="coin.iconUrl | iconUrl" />

              <div class="table__rows__coin__text">
                <h4>{{ coin.name }}</h4>
                <p>{{ coin.symbol }}</p>
              </div>
            </span>
          </section>
        </td>

        <td>
          <span class="price">{{ coin?.price | coinPrice : currencySymbol : noData }}</span>
        </td>

        <td [ngStyle]="styleHelper.upAndDownStyle(coin.change)">
          @if(coin.change){
          <div>
            <i [ngClass]="styleHelper.iconArrows(coin.change)"></i>
            <span>{{ coin.change | percent }}</span>
          </div>
          }@else {
          {{ noData }}
          }
        </td>
        <td class="table__rows__details">
          <p (click)="getDetails(coin, currencySymbol)">Detalhes</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
  @if (!searching && !favoriteQuery){
  <div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="start"
      [rows]="rows"
      [totalRecords]="5000"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>
  }
</div>
