
$pivot-size:820px;

:host ::ng-deep{
  @media (max-width: $pivot-size) {
    .p-datatable>.p-datatable-wrapper{
      overflow: hidden !important;
    }
  }
}

.table {

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &__rows {
    .price{
      font-size:1.2rem;
      font-weight: 500;

    }
    &__coin {
      width: 330px;
      display: flex;
      align-items: center;

      span {
        display: flex;
        align-items: center;
      }

      .pi-heart {
        cursor: pointer;


      }

      .pi-heart-fill {
        color: rgb(255, 64, 64);

      }

      @media (max-width: $pivot-size) {
        .pi{
          font-size:2rem !important;
        }
      }

      img {
        width: 26px;
        height: 26px;
        margin-left: 1rem;
        cursor: pointer;

        @media (max-width: $pivot-size) {
          width:3rem;
          height:3rem;
        }


      }


      &__text {
        margin-left: 1rem;
        line-height: 6px;
        cursor: pointer;
        @media (max-width: $pivot-size) {
          h4{
            line-height: 16px;

          }
        }

      }
    }

    &__details {
      p {
        width: fit-content;
        padding: 6px;
        border-radius: 12px;
        color: #2f8542;
        font-weight: 600;
        background: rgba(45, 160, 141, 0.137);
        cursor: pointer;
      }
    }
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
