.table {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  &__rows {
    &__coin {
      width: 330px;
      display: flex;
      align-items: center;

      .pi-heart {
        cursor: pointer;
      }

      .pi-heart-fill {
        color: rgb(255, 64, 64);
      }

      img {
        width: 26px;
        height: 26px;
        margin-left: 1rem;
        cursor: pointer;
      }

      &__text {
        margin-left: 1rem;
        line-height: 6px;
        cursor: pointer;
      }
    }

    &__details {
      p {
        width: fit-content;
        padding: 6px;
        border-radius: 12px;
        color: #2f8542;
        font-weight: 600;
        background: rgba(45, 160, 141, 0.137);
        cursor: pointer;
      }
    }
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
