<div class="card">
    <p-table [value]="coinList" [paginator]="false" [rows]="10" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[6, 12, 24]" (onPage)="getPage($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Name</th>
                <th style="width:25%">Country</th>
                <th style="width:25%">Company</th>
                <th style="width:25%">Representative</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-coin>
            <tr>
                <td>{{ coin.name }}</td>
                <td>{{ coin['24hVolume'] }}</td>
                <td>{{ coin.btcPrice }}</td>
                <td>{{ coin.marketCap }}</td>
            </tr>
        </ng-template>

    </p-table>
</div>