.graphic {
  width: 100vw;
  padding: 1rem;
}

.chartWrapper {
  position: relative;
  width: 100%;
}

.chartAreaWrapper {
  width: 100%;
  overflow-x: auto;

  @media (min-width: 400px) {
    display: flex;
    justify-content: center;
  }
}

.chartContainer {
  width: 1500px;
  height: 620px;
}
