<div class="card crypto-table">
  @if (error) {
  <div class="p-4 text-center text-red-500">{{ error }}</div>
  } @else {

  @if (!loading) {
  @if (currencyCode$ | async; as currencyCode) {
  <p-table [value]="coins" [scrollable]="true" scrollHeight="500px" [paginator]="totalRecords > rows" [rows]="rows" [totalRecords]="totalRecords"
    [first]="offset" (onLazyLoad)="onPage($event)" [rowsPerPageOptions]="[10, 25, 50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} moedas" [lazy]="true">

    <ng-template pTemplate="header">
      <tr>
        <th>Cripto</th>
        <th>Preço</th>
        <th class="column-24h">24h</th>
        <th>Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coin>
      <tr>
        <td data-label="Cripto">
          <div class="crypto-table__coin-cell">
            <img [src]="coin.iconUrl" [alt]="coin.name"  />
            <div class="crypto-table__coin-info">
              <span class="crypto-table__coin-name">{{ coin.name }}</span>
              <span class="crypto-table__coin-symbol">{{ coin.symbol }}</span>
            </div>
          </div>
        </td>
        <td data-label="Preço" class="price">
          {{ coin.price | currency: currencyCode : 'symbol' : '1.2-8' }}

        </td>
        <td data-label="24h" class="column-24h">
          <span class="crypto-table__change"
            [ngClass]="{ 'crypto-table__change--negative': coin.change < 0, 'crypto-table__change--positive': coin.change >= 0 }">
            {{ coin.change | number: '1.2-2' }}%
          </span>
        </td>
        <td data-label="Ação">
          <a [routerLink]="['/charts', coin.uuid, coin.name]" class="crypto-table__details-link">
            Detalhes
          </a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center">Nenhum dado de criptomoeda encontrado.</td>
      </tr>
    </ng-template>
  </p-table>
  }
  } @else {
  <div class="p-datatable skeleton-wrapper">
    <div class="p-datatable-wrapper">
      <table>
        <thead class="p-datatable-thead">
          <tr>
            <th><p-skeleton height="1.2rem"></p-skeleton></th>
            <th><p-skeleton height="1.2rem"></p-skeleton></th>
            <th class="column-24h"><p-skeleton height="1.2rem"></p-skeleton></th>
            <th><p-skeleton height="1.2rem"></p-skeleton></th>
          </tr>
        </thead>
        <tbody class="p-datatable-tbody">
          @for (item of skeletonItems; track $index) {
          <tr class="skeleton-row">
            <td data-label="Cripto">
              <div class="crypto-table__coin-cell">
                <p-skeleton shape="circle" size="48px"></p-skeleton>
                <div class="crypto-table__coin-info">
                  <p-skeleton width="12rem" height="1rem"></p-skeleton>
                </div>
              </div>
            </td>
            <td data-label="Preço">
              <p-skeleton width="10rem" height="1rem"></p-skeleton>
            </td>
            <td data-label="24h" class="column-24h">
              <p-skeleton width="10rem" height="1rem"></p-skeleton>
            </td>
            <td data-label="Ação">
              <p-skeleton width="10rem" height="1rem"></p-skeleton>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
  }
</div>