::ng-deep .info-sidebar .p-sidebar-right {
  width: 24rem;
}

.info-sidebar {
  &__title {
    font-family: "EB Garamond", serif;
    font-size: 42px;
  }

  h3 {
  }

  img {
    width: 40px;
    height: 40px;
  }
}
