<p-sidebar class="info-sidebar" [(visible)]="isVisible" position="right" (onHide)="hidden()">
  @if (coinDetails) {

  <h3 class="info-sidebar__title">{{ coinDetails?.name }} <img [src]="coinDetails?.iconUrl" /></h3>

  <section>
    <div>
      <span class="label">Símbolo:</span><span class="content symbol"
        [ngStyle]="{'color': coinDetails?.color}">{{coinDetails?.symbol}}</span>
    </div>

    <div>
      <span class="label">Site oficial:</span>
      <a class="content" target="_blank" rel="noopener noreferrer" [href]="coinDetails?.websiteUrl"
        class="content">{{coinDetails?.websiteUrl}}</a>
    </div>


    <div>
      <span class="label">Valor de mercado:</span><span class="content">{{coinDetails?.marketCap| currency :
        signal}}</span>
    </div>
    <div>
      <span class="label">Preço:</span><span class="content">{{coinDetails?.price| currency : signal}}</span>
    </div>


    <div>
      <span class="label">Mudança (24h):</span>

      <span class="content" [ngStyle]="percentageStyle.getChangeCellStyle(coinDetails?.change)">
        <i [class]="coinDetails?.change?.startsWith('-') ?  'pi pi-arrow-down-right':'pi pi-arrow-up-right'"></i>
        {{coinDetails?.change| percent}}
      </span>

    </div>
    <div>
      <span class="label">Posição:</span><span class="content">{{coinDetails?.rank}}</span>
    </div>
    <div>
      <span class="label">Baixo volume:</span><span class="content">{{coinDetails?.lowVolume ? '😭 Sim':'🤑
        Não'}}</span>
    </div>
    <div>
      <span class="label">Volume (24h):</span><span class="content">{{coinDetails?.['24hVolume']| currency :
        signal}}</span>
    </div>
    <div>
      <span class="label">Preço em Bitcoin:</span><span class="content">{{coinDetails?.btcPrice | currency :
        'BTC '}}</span>
    </div>

    <div>
      <span class="label">Links:</span>

      @for (link of coinDetails?.links; track link.name ) {
      <div>
        <a class="content" target="_blank" rel="noopener noreferrer" [href]="link?.url"
          class="content">{{link?.url}}</a>
      </div>
      }

    </div>
  </section>
  }
  @else {
  <div class="no-data">
    <p-skeleton width="14rem" height="2rem" class="loading" />

    <p-skeleton shape="circle" size="40px" class="loading" />
  </div>
  <p-skeleton width="100%" height="70%" />
  }





</p-sidebar>