::ng-deep .info-sidebar .p-sidebar-right {
  width: 24rem;
}

.info-sidebar {
  &__title {
    font-family: "EB Garamond", serif;
    font-size: 42px;
  }

  section {
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      .symbol {
        filter: brightness(0.9);
      }
      .label {
        font-weight: 600;
      }

      .content {
        margin-left: 1rem;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;
  }
}
