<p-sidebar class="info-sidebar" [(visible)]="isVisible" position="right" (onHide)="hidden()">
  <h3 class="info-sidebar__title">{{ info?.name }} <img [src]="info?.iconUrl" /></h3>

  <section>
    <div>
      <span class="label">Símbolo:</span><span class="content symbol"
        [ngStyle]="{'color': info?.color}">{{info?.symbol}}</span>
    </div>
    <div>
      <span class="label">Valor de mercado:</span><span class="content">{{info?.marketCap| currency :
        signal}}</span>
    </div>
    <div>
      <span class="label">Preço:</span><span class="content">{{info?.price| currency : signal}}</span>
    </div>


    <div>
      <span class="label">Mudança (24h):</span>

      <span class="content" [ngStyle]="percentageStyle.getChangeCellStyle(info?.change)">
        <i [class]="info?.change?.startsWith('-') ?  'pi pi-arrow-down-right':'pi pi-arrow-up-right'"></i>
        {{info?.change| percent}}
      </span>

    </div>
    <div>
      <span class="label">Posição:</span><span class="content">{{info?.rank}}</span>
    </div>
    <div>
      <span class="label">Baixo volume:</span><span class="content">{{info?.lowVolume ? '😭 Sim':'🤑 Não'}}</span>
    </div>
    <div>
      <span class="label">Volume (24h):</span><span class="content">{{info?.['24hVolume']| currency :
        signal}}</span>
    </div>
    <div>
      <span class="label">Preço em Bitcoin:</span><span class="content">{{info?.btcPrice| currency :
        signal}}</span>
    </div>
  </section>




</p-sidebar>