::ng-deep .info-sidebar .p-sidebar-right {
  width: 26rem;
}

::ng-deep .loading .p-skeleton {
  margin-bottom: 14px !important;
  margin-left: 4px !important;
}

.info-sidebar {
  &__title {
    font-family: "EB Garamond", serif;
    font-size: 42px;
  }

  section {
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      .symbol {
        filter: brightness(0.9);
      }
      .label {
        font-weight: 600;
      }

      .content {
        margin-left: 1rem;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;
  }

  .container-links {
    div {
      margin-top: 6px;
    }
  }

  .no-data {
    display: flex;
    align-items: center;
  }
}
