<section class="graphic">
    <header>
        @if (image !== null){
        <img [src]="image" />
        }@else {
        <p-progressSpinner aria-label="Loading" [style]="{ width: '50px', height: '50px' }" strokeWidth="2"
            styleClass="new-spinner">
        </p-progressSpinner>
        }
        <p>{{ coin }}</p>
        <p class="current-price">{{currentPrice | coinPrice : currencySymbol : noData}}</p>
    </header>

    @if (hasChart){
    <div class="chartWrapper">
        <div class="chartAreaWrapper">
            <div #chartContainer class="chartContainer"></div>
        </div>
    </div>
    }
</section>
@if (!hasChart){<app-no-graphic></app-no-graphic>}
