.graphic {
  width: 100vw;
  padding: 1rem;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  header {
    display: flex;
    align-items: center;

    p {
      font-weight: 600;
      font-size: 35px;
      letter-spacing: 1px;
      font-family: "EB Garamond", serif;

      @media (max-width: 600px) {
        font-size: 22px;
      }
    }

    .current-price{
      font-family: Roboto, "Helvetica Neue", sans-serif;
      margin-left:12px;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.chartWrapper {
  position: relative;
  width: 100%;
}

.chartAreaWrapper {
  width: 100%;
  overflow-x: auto;

  @media (min-width: 400px) {
    display: flex;
    justify-content: center;
  }
}

.chartContainer {
  width: 1500px;
  height: 620px;
}

:host ::ng-deep .new-spinner .p-progress-spinner-circle {
  animation: custom-spinner 8s ease-in-out infinite;
}

@keyframes custom-spinner {
  100%,
  0% {
    stroke: #008744;
  }
  40% {
    stroke: #04994f;
  }
  66% {
    stroke: #01582d;
  }
  80%,
  90% {
    stroke: #014e28;
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
