$banner-background-color: rgba(34, 174, 192, 0.082);
$highlight-border-color: #456e55;
$font-family-serif: "EB Garamond", serif;

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    height: auto;
    min-height: 15rem; 
    padding: 1.5rem clamp(1rem, 5vw, 4rem); 
    background-color: $banner-background-color;
    font-family: $font-family-serif;
    overflow: hidden;
    animation: fadeInAnimation 1.5s ease-out forwards;
  
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50rem;
    }
  
    &__title {
      font-size: clamp(3rem, 4vw, 2.8rem);
      line-height: 1.2;
      font-weight: 600;
    }
  
    &__highlight {
      border-bottom: 3px solid $highlight-border-color; 
    }
  
    &__subtitle {
      font-size: clamp(2rem, 2vw, 1.1rem); 
      font-weight: 400;
      max-width: 40ch;
      font-style: italic;
    }
  
    &__img {
      width: clamp(18rem, 25vw, 30rem); 
      height: auto;
      object-fit: contain;
    }}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
    gap: 2rem;

    &__content {
      align-items: center;
    }

    &__img {
      display: none; 
    }
  }
}